{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page-title %}{% endblock %} - Uwise</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static "css/web.css" %}">
    <script src="{% static "js/web.js" %}" defer></script>

{% endblock %}
</head>
<body>

    <div class="header">
    
        {% block top-nav %}
            {% include 'partials/topnav.html' with topnavs=data.topnavs %}
        {% endblock %}

        {% block header-nav %}
            {% include 'partials/header.html' with page_type=data.page_type %}
        {% endblock %}
    
        {% block extra-header-nav %}
        {% endblock %}

        {% block header-message %}
            {% include 'partials/header_message.html' %}
        {% endblock %}
    </div>

    {% block hero %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
</body>
</html>
