{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %}{% endblock %}</title>

    {% comment %}
    CSS Linkers
    {% endcomment %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/web.css" %}">

    {% comment %}
    JS Linkers
    {% endcomment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

{% endblock %}
</head>
<body>
    <div id="top-nav" class="top-nav">
        {% block top-nav %}{% endblock %}
    </div>
    <div id="header-nav" class="header-nav">
        {% block header-nav %}{% endblock %}
    </div>
    <div id="header-message" class="header-message">
        {% block header-message %}{% endblock %}
    </div>
    <div id="hero">
        {% block hero %}{% endblock %}
    </div>
    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="footer">
        {% block footer %}{% endblock %}
    </div>

    <script src="{% static "js/web.js" %}" defer></script>
</body>
</html>
