{% load static %}
<div id="footer" class="footer">
    <div class="footer-wrapper">
        <div class="footer-content">
        {#        <div class="footer-nav-header">#}
        {#            <img class="logo" src="{% static "images/uwise_individual.png" %}" alt="Uwise Individual">#}
        {#            <img class="logo" src="{% static "images/uwise_student.png" %}" alt="Uwise Student">#}
        {#            <img class="logo" src="{% static "images/uwise_business.png" %}" alt="Uwise Business">#}
        {#            <img class="logo" src="{% static "images/uwise_government.png" %}" alt="Uwise Government">#}
        {#        </div>#}
            <div class="footer-nav-list">
                <div class="footer-nav">
                    <strong class="footer-nav-title">Pages</strong>
                    <a href="{% url 'page' page='about' %}">About</a>
                    <a href="{% url 'page' page='privacy' %}">Privacy</a>
                    <a href="{% url 'page' page='contact' %}">Contact</a>
                    <a href="">FAQ</a>
                    <a href="">Industrial</a>
                </div>
                <div class="footer-nav">
                    <strong class="footer-nav-title">Categories</strong>
                    <a href="">Design</a>
                    <a href="">Popular</a>
                    <a href="">Development</a>
                    <a href="">Social</a>
                    <a href="">Industrial</a>
                </div>

                <div class="footer-nav">
                    <strong class="footer-nav-title">Categories</strong>
                    <a href="">Design</a>
                    <a href="">Popular</a>
                    <a href="">Development</a>
                    <a href="">Social</a>
                    <a href="">Industrial</a>
                </div>
                <div class="footer-nav">
                    <strong class="footer-nav-title">Categories</strong>
                    <a href="">Design</a>
                    <a href="">Popular</a>
                    <a href="">Development</a>
                    <a href="">Social</a>
                    <a href="">Industrial</a>
                </div>
            </div>
        </div>
    </div>
</div>