{% load static %}
<div id="footer" class="footer">
    <div class="footer-wrapper">
        <div class="footer-content">
              <div class="footer-nav-list">
                  
                <div class="footer-nav">
                    <strong class="footer-nav-title">For</strong>
                    {% for navlink in data.static_pages %}
                        {% if navlink.is_model_page %}
                            {% if navlink.url_name == 'home' %}
                                <a href="{% url 'home' %}">{{ navlink.slug | capfirst }}</a>
                            {% else %}
                                <a href="{% url 'static' navlink.url_name %}">{{ navlink.slug | capfirst }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                  
                  {% for footer_nav in data.footer_navs %}
                      <div class="footer-nav">
                        <strong class="footer-nav-title">{{ footer_nav.title }}</strong>
                          {% for footer_link in footer_nav.footer_links.all %}
                                {% if not footer_nav.title == 'Pages' %}
                                    <a href="{% url 'explore' %}?q={{ footer_link }}">{{ footer_link | capfirst }}</a>
                                {% else %}
                                    <a href="{% url 'static' footer_link.url_name %}">{{ footer_link | capfirst }}</a>
                                {% endif %}
                          {% endfor %}
                      </div>
                  {% endfor %}

                <div class="footer-nav">
                    <strong class="footer-nav-title">Uwise</strong>
                    <em>Projectstar Technologies</em>
                    <i>Lagos, Nigeria</i>
                    <a href="tel:+2348060177914">+234 806 017 7914</a>
                </div>
            </div>
        </div>
    </div>
</div>