{% load static %}
<div id="footer" class="footer">
    <div class="footer-wrapper">
        <div class="footer-content">
              <div class="footer-nav-list">
                <div class="footer-nav">
                    <strong class="footer-nav-title">Info</strong>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'privacy' %}">Privacy</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="">FAQ</a>
                </div>
                <div class="footer-nav">
                    <strong class="footer-nav-title">For</strong>
                    <a href="">Individual</a>
                    <a href="">School</a>
                    <a href="">Business</a>
                    <a href="">Government</a>
                </div>

                <div class="footer-nav">
                    <strong class="footer-nav-title">Categories</strong>
                    <a href="">Design</a>
                    <a href="">Popular</a>
                    <a href="">Development</a>
                    <a href="">Social</a>
                    <a href="">Industrial</a>
                </div>
                <div class="footer-nav">
                    <strong class="footer-nav-title">Categories</strong>
                    <a href="">Design</a>
                    <a href="">Popular</a>
                    <a href="">Development</a>
                    <a href="">Social</a>
                    <a href="">Industrial</a>
                </div>
            </div>
        </div>
    </div>
</div>