{% load  static %}

<div id="header-nav" class="header-nav">
    <div class="mobile-header">
        {# Mobile logo and nav icon #}

        <span id="mobile-nav-icon" onclick=showMegaMenu()  class="material-symbols-outlined mobile-nav-icon">list</span>

        {% comment %} <img class="menu-icon" onclick=showMegaMenu() src="{% static "images/menu.png" %}" /> {% endcomment %}
            
        <a id="logo-on-mobile" href="{% url 'home' %}"><img class="logo" src="{% static 'images/uwise.png' %}" alt="Uwise Logo"></a>

        <img class='search-icon' onclick=showMegaMenu() src="{% static 'images/search-icon-blue.png' %}" />
    
        {% comment %} <span class="material-symbols-outlined search-icon" onclick=showMegaMenu()>search</span> {% endcomment %}
    </div>

    <div class="header-nav-content">
        <div class="header-nav-left">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/uwise.png' %}" alt="Uwise Logo"></a>
            {% if data.page is not 'enroll' %}
                <div class="explore"><a onclick=showMegaMenu() onmouseover=showMegaMenu() >Explore</a> &nbsp;&nbsp;
                </div>
            {% endif %}
        </div>

        <form action={% url 'explore' %}>
            <input name="q" class="hero-search" type='text' placeholder='Search by course name' />
            <button class="search-btn" type='submit'>
                <img class='search-icon' src="{% static 'images/search-icon.png' %}" />
            </button>
        </form>

        <style>
        
        </style>
        
        <div class="header-nav-right">
            {% if user.is_authenticated %}
                <div class="header-profile">
                    <div class="header-profile-details">
                        <b>{{ user.get_full_name | title }}</b>
                        {% if user.current_job_title == '' %} <a href="">Update your profile</a> {% else %} <a href="">{{ user.current_job_title }}</a> {% endif %}
                        <div class="header-profile-menu">
                            <a href="{% url 'profile' %}">Profile</a>
                            <a href="{% url 'dashboard' %}">My Library</a>
                            <a href="">Favourites</a>
                            <a href="">Purchases</a>
                            <a href="">Messages</a>
                            <a href="">Forum</a>
                            <a onclick="displayMessages()"> {% include 'widgets/message_count.html' with messages=data.announcements %} </span> &nbsp; Announcements</a>
                            <a href="">Certificates & Badges</a>
                            <a id="logout" href="{% url 'logout-user' %}" onclick="" class="logout">Logout</a>
                        </div>
                    </div>
                    <div class="header-profile-image">
                        {% if user.image == '' or user.image is None %}
                            <img src="{% static 'images/profile.png' %}" alt="{{user.get_full_name}}">
                        {% else %}
                            <img src="{{ user.image.url }}" alt="{{user.get_full_name}}">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if data.page == 'home' or data.page == 'course' or data.page == 'enroll' or data.page == 'explore' %}
                    {% comment %} <form action={% url 'explore' %} class="header-search">
                        <span class="material-symbols-outlined search-icon" onclick=focusInput()>search</span>
                        <input class="header-search-input search" placeholder="What do you want to learn?" type="search" name="q" />
                    </form> {% endcomment %}
                    <a class="btn-cta blue" href="{% url 'login' %}">Login</a>
                   <a class="btn-cta green" href="{% url 'signup' %}">Sign Up</a>
                {% elif data.page == 'login' %}
                    <a class="btn-cta-light switch-auth" href="{% url 'signup' %}">Sign Up</a>
                {% elif data.page == 'signup' %}
                    <a class="btn-cta-light switch-auth" href="{% url 'login' %}">Login</a>
                {% endif %}

            {% endif %}

        </div>
    </div>
</div>

<div class="mega-menu">
    <div class="content">
        <div class="mega-menu-top">
            <a href="{% url 'explore' %}">View All Courses</a>
            <span style="cursor:pointer;text-align:right;color:var(--primary-blue);" onclick="closeMegaMenu()" class="material-symbols-outlined close-mega">close</span>
        </div>

        <br>
        <hr>
        
        <div class="mega-menu-content">
            {% if user.is_authenticated %}
                <div class="nav-list">
                    <h3>Me</h3>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'dashboard' %}">My Library</a>
                    <a href="">Favourites</a>
                    <a href="">Purchases</a>
                    <a href="">Messages</a>
                    <a href="">Forum</a>
                    <a onclick="displayMessages()">Announcements &nbsp; {% include 'widgets/message_count.html' with messages=data.announcements %}</span></a>
                    <a href="">Certificates & Badges</a>
                    <a id="logout" style="color:crimson; font-weight:bold;" href="{% url 'logout-user' %}" onclick="" class="logout">Logout</a>
                </div>
            {% endif %}
            <div class="nav-list">
                <h3>Uwise for You</h3>
                {% for page in data.static_pages %}
                    {% if page.is_model_page %}
                        <a href="{% url 'static' page.url_name %}">{{page|capfirst}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="nav-list">
                <h3>Popular Fields</h3>
                {% for field in data.fields|slice:":5" %}
                    <a href="{% url 'explore' %}?q={{field.title}}">{{field|capfirst}}</a>
                {% endfor %}
            </div>
            <div class="nav-list">
                <h3>Specializations</h3>
                {% for specialization in data.specializations %}
                    <a href="{% url 'explore' %}?q={{specialization.title}}">{{specialization|capfirst}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="mega-menu-mobile-bottom">
            <form action={% url 'explore' %}>
                <input name="q" class="hero-search" type='text' placeholder='Search by course name' />
            </form>

            {% if not user.is_authenticated %}
                <div class="mega-menu-auth">
                    <a class="btn-cta blue mega-auth-link" style="color:#fff;" href="{% url 'login' %}">Login</a>
                    <a class="btn-cta green mega-auth-link" style="color:#fff;" href="{% url 'signup' %}">Sign Up</a>
                </div>
            {% endif %}
            <button onclick="closeMegaMenu()" class="grey-btn">Close</button>
        </div>
    </div>
</div>

<style>
    .mega-menu-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mega-menu-top a {
        text-decoration: none;
        font-weight: bold;
        color: var(--primary-blue);
        cursor: pointer;
    }
    @media only screen and (max-width: 540px){
        
    }
</style>

<script>
    const headerProfile = document.querySelector('.header-profile')
    headerProfile.addEventListener('click', () => {
        const headerProfileMenu = document.querySelector('.header-profile-menu')
        if(headerProfileMenu.style.display === 'none'){
            headerProfileMenu.style.display = 'flex'
            headerProfileMenu.style.flexDirection = 'column'
        }else {
            headerProfileMenu.style.display = 'none'
            headerProfileMenu.style.flexDirection = 'column'
        }
        
        
        //headerProfileMenu.addEventListener('mouseout', () => {
        //    headerProfileMenu.style.display = 'none'
        //})
    })

    function doSearch() {
        const megaSearchInput = document.querySelector('.mega-search-input').value
        window.location.href = `{% url 'explore' %}?q=${megaSearchInput}`
    }

    function closeMegaMenu(){
        const megaMenu = document.querySelector('.mega-menu')
        if(megaMenu.style.display !== 'none'){
            megaMenu.style.display = 'none'
            document.querySelector('.header-nav-right').style.display = 'flex'
        }
    }

    function showMegaMenu(){
        const exploreMenu = document.querySelector('.mega-menu')
        if(exploreMenu.style.display === 'none'){
            exploreMenu.style.display = 'block'
            //document.querySelector('.header-nav-right').style.display = 'none'
        }else {
            exploreMenu.style.display = 'none'
            //document.querySelector('.header-nav-right').style.display = 'flex'
        }

        //exploreMenu.addEventListener('mouseout', () => {
        //    exploreMenu.style.display = 'none'
        //})
    }

    function focusInput(){
        document.querySelector('.search').focus()
    }
    
    function logout() {
        document.querySelector('#logout').addEventListener('click', function(event) {

            event.preventDefault()

            fetch(
                "{% url 'logout' %}", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Authorization': `Bearer ${getCookie('uwiseweb')}`, // Include CSRF token for security
                        'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                        'X-CSRFToken': '{% csrf_token %}'  // Include CSRF token for security
                    },
                })
                .then(response => {
                    if (response.ok){
                        return response.json().then(data => {
                        console.log(data);
                        // Handle the response data as needed
                            window.location.href = '{% url 'login' %}'
                        })
                    }else {
                        return response.json().then(data => {
                            console.log(data)
                        })
                    }
                })
                .catch(error => console.error('Error:', error));
        })
    }

    // Function to get cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

