{% load  static %}

<div id="header-nav" class="header-nav">
    <div class="mobile-header">
        {# Mobile logo and nav icon #}
        <span id="mobile-nav-icon" onclick=showMegaMenu()  class="material-symbols-outlined mobile-nav-icon">list</span>
            
        <a id="logo-on-mobile" href="{% url 'home' %}"><img class="logo" src="{% static 'images/uwise.png' %}" alt="Uwise Logo"></a>
    
        <span class="material-symbols-outlined search-icon" onclick=showMegaMenu()>search</span>
    </div>

    <div class="header-nav-content">
        <div class="header-nav-left">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/uwise.png' %}" alt="Uwise Logo"></a>
            {% if data.page is not 'enroll' %}
                <div class="explore"><a href="{% url 'explore' %}">Explore</a>&nbsp;<span onclick=showMegaMenu() style="cursor:pointer; font-size:30px;" class="material-symbols-outlined">explore</span></div>
            {% endif %}
        </div>
        
        <div class="header-nav-right">
            {% if user.is_authenticated %}
                <div class="header-profile">
                    <div class="header-profile-details">
                        <b>{{ user.get_full_name | title }}</b>
                        {% if user.current_job_title == '' %} <a href="">Update your profile</a> {% else %} <a href="">{{ user.current_job_title }}</a> {% endif %}
                        <div class="header-profile-menu">
                            <a href="{% url 'profile' %}">Profile</a>
                            <a href="{% url 'dashboard' %}">My Library</a>
                            <a href="">Favourites</a>
                            {% comment %}
                            <a href="">Purchases</a>
                            <a href="">Messages</a>
                            <a href="">Forum</a> {% endcomment %}
                            <a onclick="displayMessages()"> {% include 'widgets/message_count.html' with messages=data.announcements %} </span> &nbsp; Announcements</a>
                            {% comment %} <a href="">Certificates & Badges</a> {% endcomment %}
                            <a id="logout" href="{% url 'logout-user' %}" onclick="" class="logout">Logout</a>
                        </div>
                    </div>
                    <div class="header-profile-image">
                        {% if user.image == '' or user.image is None %}
                            <img src="{% static 'images/profile.png' %}" alt="{{user.get_full_name}}">
                        {% else %}
                            <img src="{{ user.image.url }}" alt="{{user.get_full_name}}">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if data.page == 'home' or data.page == 'course' or data.page == 'enroll' or data.page == 'explore' %}
                    <form action={% url 'explore' %} class="header-search">
                        <span class="material-symbols-outlined search-icon" onclick=focusInput()>search</span>
                        <input class="header-search-input search" placeholder="What do you want to learn?" type="search" name="q" />
                    </form>
                    <a class="btn-cta blue" href="{% url 'login' %}">Login</a>
{#                    <a class="btn-cta blue" href="{% url 'signup' %}">Get Started</a>#}
                {% elif data.page == 'login' %}
                    <a class="btn-cta-light switch-auth" href="{% url 'signup' %}">Sign Up</a>
                {% elif data.page == 'signup' %}
                    <a class="btn-cta-light switch-auth" href="{% url 'login' %}">Login</a>
                {% endif %}

            {% endif %}

        </div>
    </div>
</div>

<div class="mega-menu">
    <div class="content">
        <br>
        <div class="mega-search-form">
            <a href="{% url 'explore' %}">
                <span style="cursor:pointer;font-size:35px;" class="material-symbols-outlined">explore</span>
            </a>
            <form action={% url 'explore' %}>
                <input type="search" name="q" placeholder="What do you want to learn?" class="mega-search-input" />
            </form>
            <span style="cursor:pointer;" onclick="closeMegaMenu()" class="material-symbols-outlined close-mega">close</span>
        </div>
        
        
        {% if not user.is_authenticated %}
        <div class="mega-menu-auth">
            <a class="btn-cta blue" style="color:#fff;" href="{% url 'login' %}">Login</a>
            <a class="btn-cta green" href="{% url 'signup' %}">Get Started</a>
        </div>
        {% comment %} {% else %}
            <a class="btn-cta red mega-logout" style="color:#fff; background:crimson;" href="{% url 'logout-user' %}">Logout</a> {% endcomment %}
        {% endif %}
        <div class="mega-menu-content">
            {% if user.is_authenticated %}
                <div class="nav-list">
                    <h3>Me</h3>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'dashboard' %}">My Library</a>
                    <a href="">Favourites</a>
                    {% comment %} <a href="">Purchases</a>
                    <a href="">Messages</a>
                    <a href="">Forum</a> {% endcomment %}
                    <a onclick="displayMessages()">Announcements &nbsp; {% include 'widgets/message_count.html' with messages=data.announcements %}</span></a>
                    {% comment %} <a href="">Certificates & Badges</a> {% endcomment %}
                    <a id="logout" style="color:crimson; font-weight:bold;" href="{% url 'logout-user' %}" onclick="" class="logout">Logout</a>
                </div>
            {% endif %}
            <div class="nav-list">
                <h3>Uwise for You</h3>
                {% for page in data.static_pages %}
                    {% if page.is_model_page %}
                        <a href="{% url 'static' page.url_name %}">{{page|capfirst}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="nav-list">
                <h3>Popular Fields</h3>
                {% for field in data.fields|slice:":5" %}
                    <a href="{% url 'explore' %}?q={{field.title}}">{{field|capfirst}}</a>
                {% endfor %}
            </div>
            <div class="nav-list">
                <h3>Specializations</h3>
                {% for specialization in data.specializations %}
                    <a href="{% url 'explore' %}?q={{specialization.title}}">{{specialization|capfirst}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .mega-logout {
        display: none;
    }
    .mega-search-form {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .mega-search-input {
        {% comment %} width: 90%; {% endcomment %}
        padding: 20px 0;
        padding-inline: 20px;
    }
    .mobile-header {
        display: none;
    }
    .mega-menu-auth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
        align-items: center;
        margin: 20px 0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .mega-menu-content{
        display: flex;
        flex-direction: row;
        gap: 10%;
        flex-wrap: wrap;
        margin: 25px 0;
    }
    .mega-menu {
        display: none;
        z-index: 1;
        position: absolute;
        width: 100%;
        background: #eff3fa;
        border: 1px solid #c3d3ec;
        {% if user.is_authenticated %}
        top: 45px;
        {% else %}
        top: 30px;
        {% endif %}
        left: 0;
        height: 600%;
        overflow-y: auto;
        scrollbar-width: none;
    }
    .mega-menu a {
        color: #011F55;
        font-size: 13px;
        padding: 10px 0;
        text-decoration: none;
    }
    .mega-menu a:hover {
        text-decoration: underline;
    }
    .explore {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }
    .header-profile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
        align-content: center;
        position: relative;
    }
    .header-profile-details {
        display: flex;
        flex-direction: column;
    }
    .header-profile a {
        text-decoration: none;
        color: #777777;
        font-size: 10px;
    }
    .header-profile-image {
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }
    .header-profile-image img {
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }
    .header-profile-menu {
        display: none;
        z-index: 1;
        position: absolute;
        width: 200px;
        background: #ffffffee;
        border: 1px solid #c3d3ec;
        top: 43px;
        right: 0;
    }
    .header-profile-menu a {
        color: #011F55;
        font-size: 13px;
        padding: 10px 20px;
    }
    .header-profile-menu a:hover {
        background: #c3d3ec55;
        {#color: #ffffff;#}
        {#border-radius: 5px;#}
    }
    .header-profile-menu .logout {
        color: crimson;
        font-weight: bold;
    }
</style>

<script>
    const headerProfile = document.querySelector('.header-profile')
    headerProfile.addEventListener('mouseover', () => {
        const headerProfileMenu = document.querySelector('.header-profile-menu')
        headerProfileMenu.style.display = 'flex'
        headerProfileMenu.style.flexDirection = 'column'
        
        headerProfileMenu.addEventListener('mouseout', () => {
            headerProfileMenu.style.display = 'none'
        })
    })

    function doSearch() {
        const megaSearchInput = document.querySelector('.mega-search-input').value
        window.location.href = `{% url 'explore' %}?q=${megaSearchInput}`
    }

    function closeMegaMenu(){
        const megaMenu = document.querySelector('.mega-menu')
        if(megaMenu.style.display !== 'none'){
            megaMenu.style.display = 'none'
            document.querySelector('.header-nav-right').style.display = 'flex'
        }
    }

    function showMegaMenu(){
        const exploreMenu = document.querySelector('.mega-menu')
        if(exploreMenu.style.display === 'none'){
            exploreMenu.style.display = 'block'
            document.querySelector('.header-nav-right').style.display = 'none'
        }else {
            exploreMenu.style.display = 'none'
            document.querySelector('.header-nav-right').style.display = 'flex'
        }

        //exploreMenu.addEventListener('mouseout', () => {
        //    exploreMenu.style.display = 'none'
        //})
    }

    function focusInput(){
        document.querySelector('.search').focus()
    }
    
    function logout() {
        document.querySelector('#logout').addEventListener('click', function(event) {

            event.preventDefault()

            fetch(
                "{% url 'logout' %}", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Authorization': `Bearer ${getCookie('uwiseweb')}`, // Include CSRF token for security
                        'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                        'X-CSRFToken': '{% csrf_token %}'  // Include CSRF token for security
                    },
                })
                .then(response => {
                    if (response.ok){
                        return response.json().then(data => {
                        console.log(data);
                        // Handle the response data as needed
                            window.location.href = '{% url 'login' %}'
                        })
                    }else {
                        return response.json().then(data => {
                            console.log(data)
                        })
                    }
                })
                .catch(error => console.error('Error:', error));
        })
    }

    // Function to get cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

