<div id="header-message" class="header-message">
    <div class="header-message-content">
        <span>January offer of the year: Save <strong>$200</strong> on a Uwise Pro annual
            subscription | Get 50% off access for your team.</span>
        <span class="material-symbols-outlined close-icon">close</span>
    </div>
</div>

<script>
    const closeIcon = document.querySelector('.close-icon')
    const headerMessage = document.querySelector('.header-message')
    closeIcon.addEventListener('click', ()=>{
        headerMessage.style.display = 'none'
    })
</script>