<section class="biginfo">
    <div class="biginfo-content">
        <div class="biginfo-image">
            <img src="https://cdn.midjourney.com/707df07d-accf-4f78-b429-7f76c5af3452/0_1.webp" alt="">
        </div>
        <div class="biginfo-copy">
            <strong class='biginfo-title'>The Uwise X-Factor</strong>
            
            <article>
                <h3>Personal Experience</h3>
                <p>At Uwise, we cater to one student. Whether you are in a cohort of 50,000 students, more, or less, we still deliver the one-student one-teacher experience</p>
            </article>

            <br>
            <article>
                <h3>Business Oriented</h3>
                <p>At Uwise, we prepare students to take over the world. We are building you to build the solution to a global problem.</p>
            </article>

            <br>
            <article>
                <h3>People Oriented</h3>
                <p>At Uwise, we prepare students who will build not just businesses but people </p>
            </article>
        </div>
    </div>
</section>

<script>
    window.addEventListener('load', ()=>{
        const bigInfoImage = document.querySelectorAll('.biginfo-image img')
        //for (let i = 0; i < bigInfoImage.length; i++) {
          //  bigInfoImage[i].style.transform = `rotate(-${5*i}deg)`
       // }
    })
</script>
