<div class="contact">
    <h3>Send us a message</h3>
    <label class="error"></label>
    <label class="success"></label>
    <br>
    <form class="contact-form">
        <input class="ctform-input" type="text" name="name" required placeholder="Name" id="name" />
        <input class="ctform-input" id="organization" type="text" name="organization" placeholder="Organization Name (Optional)" />
        <input class="ctform-input" id="email" type="email" required name="email" placeholder="Email" />
        <textarea rows="10" class="ctform-input" id="message" required name="message" wrap="hard" placeholder="Message"></textarea>
        <button type="submit">Send</button>
    </form>
    <br>
</div>

<script>
    document.querySelector('.contact-form').addEventListener('submit', function(event) {
        event.preventDefault();
    
            const error = document.querySelector('.error')
            error.innerHTML = ''
    
           const contactData = new URLSearchParams();
    
           var name = document.querySelector('#name').value
           var organization = document.querySelector('#organization').value
           var email = document.querySelector('#email').value
           var message = document.querySelector('#message').value
    
           console.log(message)

           contactData.append('name', name)
           contactData.append('organization', organization)
           contactData.append('email', email)
           contactData.append('message', message)
    
            fetch("{% url 'contacts' %}", {
                method: 'POST',
                body: contactData,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                    'X-CSRFToken': `${getCookie('csrftoken')}`  // Include CSRF token for security
                },
            })
            .then(response => {
                if (response.ok){
                    name.value = ''
                    email.value = ''
                    organization.value = ''
                    message.value = ''

                    document.querySelector('.success').innerHTML = `Your message has been submitted. Thank you for contacting us, we normally respond within 24hrs`
                    //location.reload()
                }else {
                    return response.json().then(data => {
                        console.log(data)
                        error.style.display = 'block'
    
                        for (d in data){
                            console.log(d)
                            var newParagraph = document.createElement('b')
                            newParagraph.setAttribute('style', 'display: block;')
                            newParagraph.textContent = data[d]
                            error.appendChild(newParagraph)
                        }
                    })
                }
            })
            .catch(error => console.error('Error:', error));
        })
</script>

<style>
    .contact-form {
        width: 100%;
    }
    .ctform-input {
        width: 92%;
        padding: 5px 0;
        padding-inline: 10px;
        margin: 5px 0;
        resize: none;
        border-radius: 5px;
    }
    .success {
        color: var(--bg-green);
        font-weight: bold;
    }
</style>
