
<a href="{% url 'course' course.id %}" class="course-card">
    <div class="course-image">
        {% if course.image_link is not None %}
            <img src="{{course.image_link}}" alt="">
        {% else %}
            <img src="{{course.image.url}}" alt="">
        {% endif %}
    </div>
    <div class="course-details">
        <strong class="course-title">{{course.title}}</strong>
        <div class="course-details-bottom">
            {% comment %} <p class="rating"><span class="material-symbols-outlined rating-star">star</span> {{ course.rating }}  ({{ course.rating_count }} reviews)</p> {% endcomment %}
            <i class="course-duration">{{course.duration}} Days, {{course.level}}</i>
        </div>
    </div>
</a>

<style>
    

</style>