
{% if carousel is not None or carousel.courses.all|length > 0 %}
<section class="carousel-section" role="group">
    <div class="carousel-section-header">
        <div class="carousel-section-title">
            {% if carousel.is_user_carousel %}
                <h3>{{ carousel.title }} . <a href="{% url 'dashboard' %}?q={{ carousel.title }}">See All</a></h3>
            {% else %}
                <h3>{{ carousel.title }} . <a href="{% url 'explore' %}?q={{ carousel.title }}">See All</a></h3>
            {% endif %}
        </div>
        <div class="carousel-section-navs">
            {% comment %} <div class="slider-wrapper">
                <div class="slider-thumb"></div>
            </div> {% endcomment %}
            <div class="slider-btns">
                <div id="prev" class="slider-btn"></div>
                <div id="next" class="slider-btn"></div>
            </div>
        </div>
    </div>
    <div class="carousel-wrapper">
        <div class="carousel-track">
            <div class="carousel-items">
            {% if  not carousel.is_user_carousel %}
                {% for course in carousel.courses.all %}
                    {% include 'widgets/course_card.html' with course=course %}
                {% endfor %}
            {% else %}
                {% for course in carousel.courses.all %}
                    {% include 'widgets/user_course_card.html' with course=course.course %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% endif %}

