<div class="carousel-section">
    <div class="carousel-section-header">
        <div class="carousel-section-title">
            <h3>Programming & Software</h3>
        </div>
        <div class="carousel-section-navs">
            <div class="slider-wrapper">
                <div class="slider-thumb"></div>
            </div>
            <div class="slider-btns">
                <button id="prev" class="slider-btn"><span class="material-symbols-outlined">chevron_left</span></button>
                <button id="next" class="slider-btn"><span class="material-symbols-outlined">chevron_right</span></button>
            </div>
        </div>
    </div>
    <div class="carousel-wrapper">
        <div class="carousel-track">
            <div class="carousel-items">
                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Introduction to Object-Oriented Programming</strong>
                        <i class="course-duration">6 Weeks, Intermediate</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2020/04/25/12/14/circle-5090539_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Statistics and Mathematics for AI</strong>
                        <i class="course-duration">4 Weeks, Beginner</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Introduction to Object-Oriented Programming</strong>
                        <i class="course-duration">6 Weeks, Intermediate</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2020/04/25/12/14/circle-5090539_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Introduction to DevOps and Cloud Computing</strong>
                        <i class="course-duration">4 Weeks, Beginner</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Introduction to Object-Oriented Programming</strong>
                        <i class="course-duration">6 Weeks, Intermediate</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2020/04/25/12/14/circle-5090539_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Digital marketing in 2024</strong>
                        <i class="course-duration">4 Weeks, Beginner</i>
                    </div>
                </div>
                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Introduction to Object-Oriented Programming</strong>
                        <i class="course-duration">6 Weeks, Intermediate</i>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-image">
                        <img src="https://cdn.pixabay.com/photo/2020/04/25/12/14/circle-5090539_640.jpg" alt="">
                    </div>
                    <div class="course-details">
                        <strong class="course-title">Python for Everybody - Unilag</strong>
                        <i class="course-duration">4 Weeks, Beginner</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>