<div id="hero">
    <div class="hero-content">
        <div class="hero-content-left">
            <strong>Training the future <br>of global wealth</strong>
            <i class="quote">Wealth comes from wisdom, wisdom comes from understanding, understanding comes from knowledge, all knowledge comes from God</i>
            <a href="" class="btn-cta-light">Get Started <span class="material-symbols-outlined">chevron_right</span></a>
        </div>
        <div class="hero-content-right">
            <a href="" class="btn-cta-light-var">Programming & Software</a>
            <a href="" class="btn-cta-light-var">Data Science</a>
            <a href="" class="btn-cta-light-var">Business Analysis</a>
            <a href="" class="btn-cta-light-var">Ai & ML</a>
            <a href="" class="btn-cta-light-var">DevOps</a>
            <a href="" class="btn-cta-light-var">Marketing</a>
            <a href="" class="btn-cta-light-var">Industrialization</a>
            <a href="" class="btn-cta-light-var">Polity</a>
            <a href="" class="btn-cta-light-var">Art & Creatives</a>
            <a href="" class="btn-cta-light-var">Health & Medicine</a>
        </div>
    </div>
</div>
