<div id="hero">
    <div class="hero-content">
        <div class="hero-content-left">
            <strong class="course-title">{{ course.title }}</strong>
            <p class="course-description">{{ course.excerpt }}</p>
            <i class="start-date">Next Cohort Starts: {{ data.course_data.next_start_date }}</i>
        </div>
        <div class="hero-content-right">
            <div class="course-summary-card">
                <div class="summary-item">
                    <b>Duration: </b>
                    <b>{{ data.course_data.duration }} Days</b>
                </div>
                <div class="summary-item">
                    <b>Price: </b>
                    <b>&#8358; {{ data.course_data.price }}</b>
                </div>

                <div class="summary-item">
                    <b>Language: </b>
                    <b>{{ data.course_data.language }}</b>
                </div>

                <div class="summary-item">
                    <b>Level: </b>
                    <b>{{ data.course_data.level }}</b>
                </div>

                <div class="summary-item">
                    <b>Field: </b>
                    <b>{{ data.course_data.field }}</b>
                </div>

                <div class="summary-item">
                    <b>Rating: </b>
                    <b>{{ data.course_data.rating }}</b>
                </div>
                <br>
                {% if not data.user_owns_course %}
                    <a href="{% url 'enroll' data.course_data.id %}" class="btn-cta-light green">Enroll Now </a>
                {% else %}
                    <a href="{% url 'learn' data.course_data.id 'info' %}" class="btn-cta blue">Go to class</a>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<style>
    .summary-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .course-summary-card {
        width: 100%;
        background: #fafcff;
        border-radius: 8px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        {#text-align: left;#}
        {% comment %} transform: rotate(5deg); {% endcomment %}
    }

    .course-summary-card b {
        color: #011F55;
        border-bottom: 1px solid #c3d3ec77;
        padding: 10px 20px;
    }
</style>
