{% load humanize %}
<div id="hero">
    <div class="hero-content">
        <div class="hero-content-left">
            <strong class="course-title">{{ course.title }}</strong>
            <p class="course-description">{{ course.excerpt }}</p>
            <i class="start-date">Next Cohort Starts: {{ data.course_data.next_start_date }}</i>
        </div>
        <div class="hero-content-right">
            <div class="course-summary-card">
                <div class="summary-item">
                    <b>Duration: </b>
                    <b>{{ data.course_data.duration }} Days</b>
                </div>
                <div class="summary-item">
                    <b>Price: </b>
                    <b>&#8358; {{ data.course_data.price|intcomma }}</b>
                </div>

                <div class="summary-item">
                    <b>Language: </b>
                    <b>{{ data.course_data.language }}</b>
                </div>

                <div class="summary-item">
                    <b>Level: </b>
                    <b>{{ data.course_data.level }}</b>
                </div>

                <div class="summary-item">
                    <b>Field: </b>
                    <b>{{ data.course_data.field }}</b>
                </div>

                <div class="summary-item">
                    <b>Rating: </b>
                    <b>{{ data.course_data.rating }}</b>
                </div>

                {% comment %} <div class="summary-item">
                    <a class="btn-cta small-btn fav-btn" onclick=addToFavourites()><span class="material-symbols-outlined">add</span> Favourites</a>
                    <a href="" class="btn-cta small-btn wish-btn"><span class="material-symbols-outlined">add</span> Wishlist</a>
                    <br>
                </div> {% endcomment %}
                
                <div class="summary-cta">
                
                    {% if not data.user_owns_course %}
                        <a href="{% url 'enroll' data.course_data.id %}" class="btn-cta blue">Enroll Now </a>
                    {% else %}
                        <a href="{% url 'learn' data.course_data.id 'info' %}" class="btn-cta blue">Go to class</a>
                    {% endif %}

                </div>
                
            </div>
        </div>
    </div>
</div>

<style>
    .small-btn {
        font-size: 13px;
        padding: 5px 0;
        cursor: pointer;
    }
    .summary-cta {
        width: 90%;
        margin: 0 5%;
    }
</style>

<script>
    function addToFavourites() {

        //document.querySelector('.fav-btn').addEventListener('click', function(event) {
           //event.preventDefault();

           //alert('hello')
    
           const formData = new URLSearchParams();
    
           formData.append('course', {{data.course_data.id}})
           formData.append('user', {{request.user}}) 
    
            fetch("{% url 'favourites' %}", {
                method: 'POST',
                body: formData.toString(),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                    'X-CSRFToken': `${getCookie('csrftoken')}`  // Include CSRF token for security
                },
            })
            .then(response => {
                if(response.ok){
                   document.querySelector('.fav-btn').innerText = 'Success!'
                   window.location.href = '#'
                }
            })
       //})
    }


    // Function to get cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

