<div id="hero">
    <div class="hero2-content">
        <div class="hero2-content-top">
            <strong>Build wealth from learning</strong><br>
            {% comment %} <p>Wealth comes from wisdom, wisdom comes from understanding, understanding comes from knowledge, all knowledge comes from God</p> {% endcomment %}
            <p>Learn, unlearn, and re-learn. Acquire, practice and perfect new skills for business, career, and personal growth.</p>
        </div>
        <div class="hero2-content-bottom">
            {% for field in data.fields|slice:":4" %}
                <a href="{% url 'explore' %}?q={{ field }}" class="btn-cta-light dark">{{ field }}</a>
            {% endfor %}
        </div>
        <div class="hero2-cta">
            <a href="{% url 'signup' %}" class="btn-cta-light hero-cta bold green">Get Started</a>
            <a href="{% url 'explore' %}" class="btn-cta-light hero-cta bold">Explore Courses</a>
        </div>
    </div>
</div>

<style>
    
</style>