<div id="hero">
    <div class="hero2-content">
        <div class="hero2-content-top">
            <strong>Build wealth from learning</strong><br>
            <p>Wealth comes from wisdom, wisdom comes from understanding, understanding comes from knowledge, all knowledge comes from God</p>
        </div>
        <div class="hero2-content-bottom">
            {% for field in data.hero_fields %}
                <a href="{% url 'explore' %}?q={{ field }}" class="btn-cta-light dark">{{ field }}</a>
            {% endfor %}
        </div>
        <div class="hero2-cta">
            <a href="{% url 'signup' %}" class="btn-cta-light hero-cta bold green">Get Started</a>
            <a href="{% url 'explore' %}" class="btn-cta-light hero-cta bold">Explore Courses</a>
        </div>
    </div>
</div>

<style>
    .hero2-content{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        text-align: center;
        padding: 70px 0 30px 0;
        gap: 20px;
    }

    .hero2-content-top{
        width: 100%;
    }
    .hero2-content-top strong{
        color: #ffffff;
        font-size: 3em;
    }

    .hero2-content-top p{
        color: #3b5998;
    }
    .hero2-content-bottom {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero2-content-bottom a {
        text-align: center;
    }

    .hero2-cta {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px 50px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero2-cta a {
        padding: 12px 65px ;
    }

    .green {
        background: #10DC80;
        color: #fff;
    }
    .bold {
        font-weight: bold;
    }

    .red{
        background: #ff253a;
        color: #fff;
    }

    .dark {
        background: #0e3b8d;
        color: #4285f4;
    }
</style>