{% load humanize %}
<div class="manual-pay">
    <div onclick="closeManualPay()" class="close-manual-pay">
        <span style="text-align:right;" class="material-symbols-outlined">close</span>
    </div>
    <h3>Dear {{user.get_full_name}},</h3>
    <p>Thank you for choosing to purchase <b style="color:#10DC80;">{{course.title}}</b>.</p>
    <p>Our engineers are working hard to bring you seemless and secure online payment. However, in the meantime, kindly make a transfer of the amount of <b style="color:#10DC80;">&#8358;{{course.price|intcomma}}</b> to the following account details to purchase your course.</p>

    <br>

    <div class="bank-details">
        <h3><strong>Bank Name:</strong> <b>Moniepoint</b></h3>
        <h3><strong>Account Name:</strong> <b>Projectstar Technologies</b></h3>
        <h3><strong>Account Number:</strong> <b>8060177914</b></h3>
    <div>

    <br>

    <p>Upon completion of payment. Send the following in an email to <strong style="color:#10DC80;">pay@uwise.pro</strong>.</p>
    <ol>
        <li>Evidence of Payment</li>
        <li>Your full name as it appears on Uwise. (*** Confirm in `Profle`)</li>
        <li>Your Uwise email</li>
        <li>Your Phone Number</li>
        <li>Purchased Course Title</li>
    </ol>
    <p>Your purchase will be verified and your course activated for you within 30 minutes from the time email is recieved.</p>
</div>

<script>
    startOnlinePay = document.querySelector('#start-online-pay').addEventListener('click', (e)=> {
        e.preventDefault()
        manualPay = document.querySelector('.manual-pay')
        manualPay.style.top = '10vh'
        manualPay.style.transition = '.5s ease-in-out'
    })

    function closeManualPay() {
        manualPay = document.querySelector('.manual-pay')
        manualPay.style.top = '-100vh'
        manualPay.style.transition = '.5s ease-in-out'
    }
</script>

<style>
    
</style>