<div class="messages">
    <div class="messages-header">
        <h3>{{ message_type }}</h3>
        <span class="material-symbols-outlined" onclick="closeMessages()">close</span>
    </div>
    {% for message in messages %}
        <div class="notes">
            <div class="note">
                <b>{{ message.title }}</b>
                <p>{{ message.message }}</p>
                <i>{{ message.date }}</i>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function displayMessages() {
        const messages = document.querySelector('.messages')
        messages.style.right = '0'
        messages.style.transition = '.5s ease-in-out'
    }
    function closeMessages() {
        const messages = document.querySelector('.messages')
        messages.style.right = 'calc(0% - 120%)'
        messages.style.transition = '.5s ease-in-out'
    }
</script>

<style>
    
</style>