<div class="contact">
    <h3>New Note</h3>
    <label class="error"></label>
    <form class="note-form">
        {% csrf_token %}
        <input class="ntform-input" id="title" type="text" required name="title" placeholder="Note Title" />
        <textarea rows="5" class="ntform-input" id="note" required name="note" wrap="hard" placeholder="Note Content"></textarea>
        <button class="form-btn" type="submit">Add Note</button>
    </form>
    <label class="success"></label>
</div>

<script>
    document.querySelector('.note-form').addEventListener('submit', function(event) {
        event.preventDefault();
    
            const error = document.querySelector('.error')
            error.innerHTML = ''
    
           const formData = new URLSearchParams();
    
           const title = document.querySelector('#title').value
           const note = document.querySelector('#note').value
    
           console.log(title)
    
           formData.append('title', title)
           formData.append('note', note)
           formData.append('course', {{course.id}})
           formData.append('user', {{request.user.id}})
    
            fetch("{% url 'notes' %}", {
                method: 'POST',
                body: formData.toString(),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                    'X-CSRFToken': `${getCookie('csrftoken')}`  // Include CSRF token for security
                },
            })
            .then(response => {
                if (response.ok){
                    document.querySelector('.success').innerHTML = `Note ${title} added successfully`
                    location.reload()
                }else {
                    return response.json().then(data => {
                        console.log(data)
                        error.style.display = 'block'
    
                        for (d in data){
                            console.log(d)
                            var newParagraph = document.createElement('b')
                            newParagraph.setAttribute('style', 'display: block;')
                            newParagraph.textContent = data[d]
                            error.appendChild(newParagraph)
                        }
                    })
                }
            })
            .catch(error => console.error('Error:', error));
        })
        
</script>

<style>
    .note-form {
        width: 100%;
    }
    .ntform-input {
        width: 92%;
        padding: 5px 0;
        padding-inline: 10px;
        margin: 5px 0;
        resize: none;
    }
    .form-btn {
        width: 50%;
    }
    .success {
        color: var(--bg-green);
    }
</style>
