
{% if testimonials|length > 0 %}
<section class="auto-slider-section">
    <div class="auto-slider-header">
        <div class="auto-slider-title">
            <h3>Testimonials . <a href="">See All</a></h3>
        </div>
        <div class="auto-slider-navs">
            <div class="dots-wrapper">
                {% for message in testimonials %}
                    <div class="dots"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="auto-slider-wrapper">
        <div class="auto-slider-track">
            <div class="auto-slider-items">
                {% for testimonial in testimonials %}
                    {% include 'widgets/testimonial_card.html' with testimonial=testimonial %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endif %}

<style>
    
</style>
