
{% for testimonial in testimonials %}
<section class="auto-slider-section">
    <div class="auto-slider-header">
        <div class="auto-slider-title">
            <h3>{{testimonial.title}} . <a href="">See All</a></h3>
        </div>
        <div class="auto-slider-navs">
            <div class="dots-wrapper">
                {% for message in testimonial.messages %}
                    <div class="dots"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="auto-slider-wrapper">
        <div class="auto-slider-track">
            <div class="auto-slider-items">
                {% for message in testimonial.messages %}
                    {% include 'widgets/testimonial_card.html' with message=message %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endfor %}

<style>
    .auto-slider-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .auto-slider-navs{
        {#width: 5%;#}
    }
    .dots-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .dots{
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: #cccccc;
    }
    
    .auto-slider-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        border-radius: 20px;
    }
    
    .auto-slider-wrapper::-webkit-scrollbar{
        display: none;
    }
    
    .auto-slider-track {
        width: 100%;
    }
    
    .auto-slider-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }
</style>
