{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Contact {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div id="content" class="content">
    <div class="content">
        <div class="auth-container">
            <form action="#" method="post">
                <h1>Contact Uwise Learning</h1><br/>
                <p>Have questions, feedback, or just want to say hello? We'd love to hear from you! Use the form below to get in touch:</p>
                <br>
    
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>
                <br>
    
                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
    
                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <br>
    
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

