{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Blog {% endblock %}
{% comment %} {% block header-message %}{% endblock %} {% endcomment %}
{% block top-nav %}{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="blogs-content">
    {% if data.featured is not None %}
    <section class="featured-post-wrapper">
        <div class="featured-post">
            <a href="{% url 'blog' data.featured.id %}">
                <div class="featured-post-image">
                    <img src="{{data.featured.image_link}}" alt="" />
                </div>
                <div class="featured-post-right">
                    <strong>{{data.featured.title}}</strong><br>
                    <p>{{data.featured.excerpt}}</p>
                    <span>{{data.featured.date_posted}}</span>
                </div>
            </a>
        </div>
    </section>
    {% endif %}

    {% if data.blogs is not None or data.blogs|length > 0 %}
    <section class="blogs-grid-wrapper">
        <h3>Latests</h3><br>
        <div class="blogs-grid">
            {% for post in data.blogs %}
                <a class="post" href="{% url 'blog' post.id %}">
                    <div class="post-image">
                        <img src="{{post.image_link}}" alt="" />
                    </div>
                    <div class="post-bottom">
                        <strong>{{post.title}}</strong><br>
                        <span>{{post.date_posted}}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {# Filter by categories #}
</div>
    <style>
        
    </style>
{% endblock %}

