{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Course {% endblock %}
{% block header-message %}{% endblock %}


{% block hero %}
    {% include 'widgets/hero.html' with course=data.course_data %}
{% endblock %}

{% block extra-header-nav %}
    <div class="header-nav extra-header-nav">
         <div class="extra-header-nav-content">
            <div class="extra-header-nav-left">
                <h3>{{ data.course_data.title }}</h3>
                <p>Level: {{ data.course_data.level }} . Price: &#8358; {{ data.course_data.price }} . Duration: {{ data.course_data.duration }} Days</p>
            </div>
            <div class="header-nav-right">
                {% if not data.user_owns_course %}
                    <a href="{% url 'enroll' data.course_data.id %}" class="btn-cta-light green">Enroll Now </a>
                {% else %}
                    <a href="{% url 'learn' data.course_data.id 'info' %}" class="btn-cta blue">Go to class</a>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
        .extra-header-nav {
            display: none;
        }
        .green {
            background: #10DC80;
            color: #fff;
            border: 1px solid #0ab065;
            font-weight: bold;
        }
    </style>
    <script>
        var prevScrollPos = window.scrollY || window.pageYOffset;
        var header = document.querySelector(".extra-header-nav");

        window.addEventListener('load', ()=> {
            header.style.position = 'absolute'
            header.style.top = '-300px'
            header.style.left = '0'
            header.style.width = '100%'
            header.style.display = 'flex'
        })

        function handleScroll() {
          var currentScrollPos = window.scrollY || window.pageYOffset;

          if (prevScrollPos < currentScrollPos) {
              {% if not user.is_authenticated %}
                header.style.top = "30px";
              {% else %}
                header.style.top = "0px";
              {% endif %}

            header.style.transition = '.5s ease-in-out'
          } else {
            header.style.top = "-300px"; // Adjust this value based on your header's height
            header.style.transition = '.5s ease-in-out'
          }

          prevScrollPos = currentScrollPos;
        }

        window.onscroll = function() {
          handleScroll();
        };
    </script>
{% endblock %}


{% block content %}
    <div class="content">
        <nav class="course-detail-nav">
            <a href="#description" class="btn-nav">Description</a>
            <a href="#objectives" class="btn-nav">Objectives</a>
            <a href="#courses" class="btn-nav">Courses/Lessons</a>
            <a href="#testimonials" class="btn-nav">Testimonials</a>
        </nav>
        <hr>
        <section id="description" class="skills-section">
            <h3 class="section-title">Skills you'll gain</h3><br>
            <div class="skills-content">
                {% for skill in data.course_data.skills %}
                    <span class="skill">{{ skill | title }}</span>
                {% endfor %}
            </div>
        </section>
        <section class="info">
            <h3 class="section-title">Important Information</h3><br>
            <div class="info-detail">
                <div class="info-content">
                    <span class="material-symbols-outlined icon">people</span>
                    <span class="info-message">Students will attend courses while the instructor is teaching them live</span>
                </div>
                <div class="info-content">
                    <span class="material-symbols-outlined icon">class</span>
                    <span class="info-message">If a student attends less than 50% of the live classes they will have to join
                        the next cohort to complete their attendance quota before they can be issued a certificate. </span>
                </div>
                <div class="info-content">
                    <span class="material-symbols-outlined icon">percent</span>
                    <span class="info-message">Students must obtain a 50% logged-in time as attendance for every
                        lecture in a course to be eligible for a certificate</span>
                </div>
                <div class="info-content">
                    <span class="material-symbols-outlined icon">grade</span>
                    <span class="info-message">A student needs to score above 80% to be eligible for a certificate</span>
                </div>
                <div class="info-content">
                    <span class="material-symbols-outlined icon">stream</span>
                    <span class="info-message">The courses may be pre-recorded to manage resources, but students will be made to watch
                        them in a live session where they may engage with course reps and facilitators.</span>
                </div>
            </div>
        </section>
        <section class="long-ad">
            <div class="long-ad-content">
                <div class="ad-content-left">
                    <h3>Go from where you are to where you want to be with life-changing learning for your team</h3><br>
                    <a href="{% url 'static' 'business' %}" class="btn-cta blue">Learn more about Uwise Business</a>
                </div>
                <div class="ad-content-right">
                    <img src="{% static 'images/logos.png' %}" alt="">
                </div>
            </div>
        </section>
    
        <section id="objectives" class="partner-info">
            <div class="partner-info-content">
                <div class="partner-info-left">
                    <h3>Advance your career with courses tailored to on-the-job in-demand skills</h3>
                    <ul>
                        {% for objective in data.course_data.objectives %}
                            <li>{{ objective | capfirst }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="partner-info-right">
                    <img src="{% static 'images/lady.png' %}" alt="">
{#                    <img src="{{ data.course_data.image }}" alt="">#}
                </div>
            </div>
        </section>
    
    {# TruuSkill Career Support #}
        <section class="career-support-info">
            <div class="career-info-content">
                <div class="career-info-left">
                    <img src="{% static 'images/truuskill.png' %}" alt="">
                    <h3>Get exclusive access to career advice, support, and resources when you complete this track</h3>
                </div>
                <div class="career-info-right">
                    <div class="career-info">
                        <span class="material-symbols-outlined">note</span>
                        <b>Resume Review/Rewrite</b>
                        <p>Get professional HR review and help rewriting your resume</p>
                    </div>
                    <div class="career-info">
                        <span class="material-symbols-outlined">mic</span>
                        <b>Interview Prep</b>
                        <p>Practice interview questions with seasoned interviewers</p>
                    </div>
                    <div class="career-info">
                        <span class="material-symbols-outlined">support</span>
                        <b>Career Support</b>
                        <p>Get 1-6 months first job or startup support</p>
                    </div>
                </div>
            </div>
        </section>
    
    {# Certificate Section #}
        <section class="certificate-info">
            <div class="certificate-content">
                <div class="certificate-left">
                    <h3>Earn a professional Certificate</h3>
                    <p>Your certificate may be shared on LinkedIn or any other job site and may be printed out and shown to potential employers</p>
                </div>
                <div class="certificate-right">
                    <img src="{% static 'images/certificate.png' %}" alt="">
                    <img src="{% static 'images/certificate_2.png' %}" alt="">
                </div>
            </div>
        </section>
    
    {# Courses/Lessons in this course #}
        <section id="courses" class="programme-course-list">
            <div class="course-list-content">
                <h3>Classes in this course</h3>
                <p>{{ data.course_data.description | truncatewords:"50" }}</p><br>
                <div class="course-list">
                    <div class="course-list-left">

                        {# Course Lesson Item #}

                        {% for class in data.classes %}
                            <div class="course-list-item">
                                <div class="list-item-left">
                                    <a href="">{{ class.title }}</a>
                                    <p>Class {{ class.class_number }} . {{ class.time_duration }} days . 4.7 <span class="material-symbols-outlined rating">star</span> (437 Ratings)</p>
                                </div>
                                <span class="material-symbols-outlined expand">expand_more</span>
                            </div>
                            <p style="display: none;">{{ class.description }}</p>
                        {% endfor %}
                            <script>
                                courseListItem = document.querySelectorAll('.course-list-item')
                                courseListItem.forEach(function (item){
                                    item.addEventListener('click', ()=> {
                                       // Find the next sibling element (assuming it's the description)
                                        const description = item.nextElementSibling;

                                        // Toggle the display property of the description
                                        if (description.style.display === 'none' || description.style.display === '') {
                                            description.style.display = 'block'
                                            description.style.transition = '.5s ease-in-out'
                                        } else {
                                            description.style.display = 'none';
                                            description.style.transition = '.5s ease-in-out'
                                        }
                                    })
                                })
                            </script>
                    </div>
                
                {# Facilitators #}
                    <div class="course-list-right">
                        <div class="author-list">
                            <h3>Facilitators</h3>
                            {% for class in data.classes %}
                            <div class="author-item">
                                <div class="author-image">
                                    <img src="{{ class.facilitator.user.image }}" alt="">
                                </div>
                                <div class="author-detail">
                                    <b>{{ class.facilitator.user.get_full_name }}</b>
                                    <p>{{ class.facilitator.user.course_count }} Courses . {{ facilitator.user.student_count }} Students</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    {# Testimonials #}
        <section id="testimonials" class="testimonials">
            {% include 'widgets/testimonial_carousel.html' with testimonials=data.testimonials %}
        </section>
    
    {# Latest Blogs #}
        <section class="latest-blogs">
            <h3>Lastest Blogs . <a href="">See All</a></h3>
            <div class="blog-content">
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/5198239/pexels-photo-5198239.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="blog-detail">
                        <b>Learning a new skill in less than 10,000 hours</b>
                        <p>Developing a new set of skill or skills can be a...</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/4144038/pexels-photo-4144038.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="blog-detail">
                        <b>Why learning Python in 2024 is Jackpot move</b>
                        <p>Developing a new set of skill or skills can be a...</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="https://images.pexels.com/photos/920382/pexels-photo-920382.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    <div class="blog-detail">
                        <b>Learning a new skill in less than 10,000 hours</b>
                        <p>Developing a new set of skill or skills can be a...</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <style>
        .course-list-item + p {
            padding: 10px;
        }
    .latest-blogs {
        width: 100%;
        padding: 25px 0;
    }
    .blog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }
    .blog-item {
        width: 300px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-radius: 5px;
        border: 1px solid #c3d3ec;
        padding: 20px;
        cursor: pointer;
        background: #ffffff;
    }
    .blog-item:hover {
        border-color: #011F55;
        color: #0646d5;
    }
    .blog-image {
        width: 75px;
        height: 75px;
    }
    .blog-image img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 75px;
    }
    .blog-detail {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .blog-detail b {
        color: #011F55;
        font-size: .8em;
    }
    .blog-detail p {
        color: #777777;
        font-size: 12px;
        line-height: 18px;
    }
    

    .testimonials {
        padding: 25px 0;
    }
    .programme-course-list {
        width: 100%;
        padding: 25px 0;
    }
    .course-list-content > p, .course-list-content > h3 {
        width: 60%;
    }
    .course-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }
    .course-list-left {
        width: 65%;
        border: 1px solid #c3d3ec;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .course-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #c3d3ec22;
        padding: 10px;
        border: 1px solid #c3d3ec55;
    }
    .course-list-item .expand {
        cursor: pointer;
    }
    .list-item-left a {
        text-decoration: none;
        color: #011F55;
        font-weight: bold;
    }
    .list-item-left p {
        color: #777777;
        padding: 5px 0;
    }
    .list-item-left p .rating {
        font-size: 16px;
    }
    .course-list-right {
        width: 35%;
    }
    .author-list {
        border: 1px solid #c3d3ec;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .author-item {
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 10px;
        align-items: center;
    }
    .author-image {
        width: 40px;
        height: 40px;
    }
    .author-image img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 60px;
    }
    .author-detail p {
        font-size: 10px;
        line-height: 16px;
    }
    .author-detail b {
        font-size: 12px;
        line-height: 16px;
    }


    .certificate-info {
        width: 100%;
        padding: 25px 0;
    }
    .certificate-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px;
        border: 1px solid #c3d3ec;
        gap: 20px;
    }
    .certificate-left {
        width: 30%;    
    }
    .certificate-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }
    .certificate-right img {
        height: 120px;
    }
    
    .career-support-info {
        width: 100%;
        padding: 25px 0;
    }
    .career-info-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        background: #eff3fa;
        gap: 20px;
    }
    .career-info-left {
        width: 40%;
    }
    .career-info-left h3 {
        font-size: .9em;
    }
    .career-info-left img {
        height: 25px;
    }
    .career-info-right {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
    .career-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .career-info b {
        display: block;
    }

    li {
        font-size: 13px;
        color: #777777;
        line-height: 22px;
    }
    .partner-info {
        width: 100%;
        padding: 25px 0;
    }
    .partner-info-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
    .partner-info-left {
        width: 45%;
        padding: 20px 30px;
    }
    .partner-info-right {
        width: 50%;
        height: inherit;
    }
    .partner-info-right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .long-ad {
        width: 100%;
        padding: 25px 0;
    }

    .long-ad-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        background: #eff3fa;
        border: 1px solid #c3d3ec;
    }

    .ad-content-left {
        padding: 20px 30px;
        width: 40%;
    }

    .ad-content-left h3 {
        line-height: 1.6em;
        padding-left: 5px;
    }

    .ad-content-right {
        width: 50%;
        object-fit: cover;
    }

    .ad-content-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info {
        padding: 25px 0;
    }
    .info-detail {
        display: flex;
        flex-direction: row;
        gap: 25px;
        {#justify-content: space-evenly;#}
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .info-content {
        background: #eff3fa;
        padding: 10px 20px;
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        height: 80px;
    }

    .info-content .info-message {
        font-size: 10px;
    }

    .info-content .icon {
        font-size: 40px;
    }
    hr {
        margin: 0;
        border: 1px solid #c3d3ec55;
    }
    .course-detail-nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn-nav {
        padding: 20px 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        color: #0e3b8d;
    }

    .btn-nav:hover {
        {#color: #0646d5;#}
        background: #eff3fa;
    }

    .skills-section {
        padding: 20px 0;
    }

    .skills-content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-align: left;
        flex-wrap: wrap;
    }

    .skill {
        padding: 5px 10px;
        font-size: 12px;
        color: #0e3b8d;
        background: #eff3fa;
        border-radius: 5px;
    }
    </style>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}
