{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Dashboard {% endblock %}
{% comment %} {% block header-message %}{% endblock %} {% endcomment %}
{% block top-nav %}{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
    <div class="content">
        <span id="explore-nav-icon"  class="material-symbols-outlined nav-icon">list</span>
        <div class="courses-content">
            <nav class="filters">
                <div class="filter-items">
                    <br>
                    <div class="filter-item-group">
                        <a class="filter-item" href="{% url 'dashboard' %}#">In Progress</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Enrolled</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Completed</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Favourites</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Wishlist</a>
                    </div>
                </div>
            </nav>
            <article class="course-list">
                <h2>{{ request.user.get_full_name }} Dashboard</h2>

                <h3>
                    {% if data.q is None %} My Library {% else %} {{ data.q }} {% endif %}
                </h3> <br>
                <div class="course-grid">
                    {% for course in data.courses %}
                        {% include 'widgets/user_course_card.html' with course=course.course %}
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>

    <script>
        document.querySelector('#explore-nav-icon').addEventListener('click', ()=>{
            const classBoard = document.querySelector('.course-list')
            const filters = document.querySelector('.filters')
            
            if(filters.style.display === 'none'){
              classBoard.style.display = 'none'
              filters.style.display = 'block'
              filters.style.width = '100%'
            }else{
              filters.style.display = 'none'
              filters.style.width = '0'
              classBoard.style.display = 'block'
            }
            filters.style.transition = '.5s ease-in-out'
          })
    </script>
    
    <style>
        
    </style>
{% endblock %}

{% block footer %}
    {% include 'partials/footer_mini.html' %}
{% endblock %}
