{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Dashboard {% endblock %}
{% block header-message %}{% endblock %}
{% block top-nav %}{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
    <div class="content">
        <span id="explore-nav-icon"  class="material-symbols-outlined nav-icon">list</span>
        <div class="courses-content">
            <nav class="filters">
                <div class="filter-items">
                    <br>
                    <div class="filter-item-group">
                        <a class="filter-item" href="{% url 'dashboard' %}#">In Progress</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Enrolled</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Completed</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Favourites</a>
                        <a class="filter-item" href="{% url 'dashboard' %}#">Wishlist</a>
                    </div>
                </div>
            </nav>
            <article class="course-list">
                <h2>{{ request.user.get_full_name }} Dashboard</h2>

                <h3>
                    {% if data.q is None %} My Library {% else %} {{ data.q }} {% endif %}
                </h3> <br>
                <div class="course-grid">
                    {% for course in data.courses %}
                        {% include 'widgets/user_course_card.html' with course=course.course %}
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>

    <script>
        document.querySelector('#explore-nav-icon').addEventListener('click', ()=>{
            const classBoard = document.querySelector('.course-list')
            const filters = document.querySelector('.filters')
            
            if(filters.style.display === 'none'){
              classBoard.style.display = 'none'
              filters.style.display = 'block'
              filters.style.width = '100%'
            }else{
              filters.style.display = 'none'
              filters.style.width = '0'
              classBoard.style.display = 'block'
            }
            filters.style.transition = '.5s ease-in-out'
          })
    </script>
    
    <style>
        .nav-icon{
            display: none;
        }
        .courses-content {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 80px 0;
        }
        .filters {
            width: 20%;
            height: 500px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            scrollbar-base-color: #011F55;
            padding: 10px 20px 0 0;
            {#border-right: 1px solid #c3d3ec;#}
            position: relative;
        }
        .course-list {
            width: 80%;
            padding: 10px 0 0 40px;
            {#position: relative;#}
            {#left: 200px;#}
        }
        .course-grid {
            display: flex;
            flex-direction: row;
            width: 100%;
            {#justify-content: space-evenly;#}
            flex-wrap: wrap;
            gap: 20px;
        }
        .filter-item-group {
            display: flex;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;

        }
        .filter-item {
            width: 100%;
            font-size: 13px;
            color: #011F55;
            {#background: #c3d3ec33;#}
            padding: 10px 10px;
            border-radius: 2px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
        }
        .filter-item:hover {
            background: #c3d3ec55;
            {#border: 1px solid #c3d3ec;#}
        }
    </style>
{% endblock %}

{% block footer %}
{#    {% include 'partials/footer.html' %}#}
{% endblock %}
