{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Enroll {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div class="content">
    <section class="enroll-wrapper">
        <h1>Choose Enrollment Option</h1><br>
        <div class="course-detail">
            <h3>{{ data.course_data.title }}</h3>
            <p>{{ data.course_data.field }} . {{ data.course_data.rating_count }} Reviews</p>
            <p>{{ data.course_data.excerpt | truncatewords:"20" }} </p><br>
        </div>
        <div class="enroll-content">
            <div class="enroll-content-left card">
                <h3>Enroll in this course but pay later</h3>
                <ul>
                    <li>Access general course announcements</li>
                    <li>Preview course with the first class</li>
                    <li>Get random free classes</li>
                </ul>
                <a href="" class="btn-cta blue">Enroll Now</a>
            </div>
            
            <div class="enroll-content-center card">
                <h3>Buy this course now</h3>
                <a href="" class="btn-cta green">Pay &#8358; {{ data.course_data.price | floatformat:"2" }}</a>
            </div>
            <div class="enroll-content-right card">
                <h3>Can't afford full course now? Buy a few classes</h3>
                <a href="" class="btn-cta green">Pay &#8358; {{ data.course_data.price | floatformat:"2" }}</a>
            </div>
        </div>
    </section>
</div>

    <style>
        .card {
            background: #fff;
            padding: 20px;
            border: 1px solid #c3d3ec;
            border-radius: 10px;
        }
        .card ul li {
            font-size: 13px;
            color: #777777;
            line-height: 1.8;
        }
    #card-form {
        max-width: 400px;
    }
        .card-input-wrapper {
            width: 100%;
        }
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        form label {
            display: block;
            margin: 5px 0;
            color: #777777;
        }
        .enroll-wrapper {
            margin-top: 120px;
            margin-bottom: 50px;
            width: 100%;
        }
        .enroll-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 25px 0;
        }
        .enroll-content-left {
            width: 33%;
            maring-right: 12px;
            {#border-right: 1px solid #c3d3ec;#}
        }
        .payment-methods a {
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            color: #777777;
            display: block;
            font-size: 13px;
        }
        .payment-methods a:hover {
            background: #c3d3ec33;
        }
        .payment-methods a:active {
            color: #011F55;
            font-weight: bold;
        }
        .enroll-content-center {
            width: 33%;
            margin: 0 12px;
        }
        .enroll-content-right {
            width: 33%;
            margin-left: 12px;
        }
        .enroll-content-right span {
            display: block;
            font-size: 12px;
            color: #777777;
            padding: 5px 0;
        }
        .green {
          background: #10DC80;
          color: #fff;
          border: 1px solid #0fc471;
          font-weight: bold;
       }
    </style>

{% endblock %}




