{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Sign Up {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div class="content">
    Enroll
</div>

{% endblock %}

  {% comment %} <script>

    function submitForm() {
      // Add logic to handle form submission using JavaScript
      // Example: document.getElementById("loginForm").submit();
    }

    function loginWithGoogle() {
      // Add logic to handle Google login using JavaScript
    }

    function loginWithFacebook() {
      // Add logic to handle Facebook login using JavaScript
    }
  </script> {% endcomment %}



