{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Enroll {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div class="content">
    <section class="enroll-wrapper">
        <h1>Choose Enrollment Option</h1><br>
        <div class="course-detail">
            <h3>{{ data.course_data.title }}</h3>
            <p>{{ data.course_data.field }} . {{ data.course_data.rating_count }} Reviews</p><br>
            <p>{{ data.course_data.excerpt | truncatewords:"50" }} </p><br>
        </div>
        <div class="error" style="display: none; color: crimson;"></div>
        <div class="enroll-content">
            <div class="enroll-content-left">
                <div class='card'>
                    <h2>Enroll in this course but pay later</h2>
                    <ul>
                        <li>Access general course announcements</li>
                        <li>Preview course with the first class</li>
                        <li>Get random free classes</li>
                        <li>Access general course community</li>
                    </ul>
                    
                    <a href="{% url 'enroll' data.course_data.id %}#" id="btn-enroll" onclick="enrollWithoutPaying()" class="btn-cta blue fill-x">Enroll Now</a>
                    <script>
                        function enrollWithoutPaying(){
                            {#preventDefault()#}
                            
                            {% if not user.is_authenticated %}
                                window.location.href = '{% url 'login' %}'
                            {% endif %}

                            const formData = new URLSearchParams();
                            formData.append('user', {{ user.id }})
                            formData.append('course', {{ data.course_data.id }})

                             fetch("{% url 'user-courses' %}", {
                                method: 'POST',
                                body: formData.toString(),
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                    'X-Requested-With': 'XMLHttpRequest',  // Required for Django to identify it as an AJAX request
                                    'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token for security
                                },
                            }).then(response => {
                                 if (response.ok) {
                                    window.location.href = '{% url 'home' %}'
                                 }else{
                                     return response.json().then(data => {
                                        console.log(data)
                                        const error = document.querySelector('.error')
                                        error.style.display = 'block'

                                        for (d in data){
                                            console.log(d)
                                            var newParagraph = document.createElement('b')
                                            newParagraph.setAttribute('style', 'display: block;')
                                            newParagraph.textContent = data[d]
                                            if(data[d]==='The fields user, course must make a unique set.'){
                                                newParagraph.textContent = 'You are already enrolled to this course'
                                            }
                                            error.appendChild(newParagraph)
                                        }
                                    })
                                 }
                            }).then(error => console.log(error))
                        }
                        
                    </script>
                </div>                
            </div>
            
            <div class="enroll-content-center">
                <div class='card'>
                    <h2>Buy this course now</h2>
                    <ul>
                        <li>Access All Classes</li>
                        <li>Access all course announcements</li>
                        <li>Access all course communities</li>
                        <li>Get help from all course facilitators</li>
                        <li>Get freebies including heavily discount paid courses</li>
                        <li>Get certificate upon completion</li>
                        <li>Get discount on total fee</li>
                        <li>Eligibility for class rep - Gives access to random free course</li>
                        <li>Eligibility for course rep - Gives access to free course of choice</li>
                        <li>Access 6 months on-first-job or startup support</li>
                    </ul>
{#                    <a href="" class="btn-cta green fill-x">Pay &#8358; {{ data.course_data.price | floatformat:"2" }}</a>#}
                    
                    {# Making payment with flutterwave #}
                    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                          <input type="hidden" name="public_key" value="FLWPUBK_TEST-5855984309c2f0b177abb690e6cda4be-X" />
                          <input type="hidden" name="customer[email]" value="{{ user.email }}" />
                          <input type="hidden" name="customer[name]" value="{{ user.get_full_name }}" />
                          <input type="hidden" name="tx_ref" value="txref-81123" />
                          <input type="hidden" name="amount" value="{{ data.course_data.price }}" />
                          <input type="hidden" name="currency" value="NGN" />
                          <input type="hidden" name="meta[source]" value="docs-html-test" />
                          <br>
                          <button type="submit" class="btn-cta green" id="start-payment-button">Pay &#8358; {{ data.course_data.price | floatformat:"2" }}</button>
                    </form>
                </div>
            </div>
            
            <div class="enroll-content-right">
                <div class='card'>
                    <h2>Can't afford the full course? <span>Buy a few courses to start</span></h2>
                    <ul>
                        <li>Access classes paid for</li>
                        <li>Access all course announcements</li>
                        <li>Access some course communities</li>
                        <li>Get help from class facilitators</li>
                        <li>Get freebies including heavily discount paid courses</li>
                        <li>Get certificate upon completion</li>
                        <li>Total payable fee is higher cumulatively</li>
                        <li>Access 6 months on-first-job or startup support</li>
                    </ul>
                    <a href="" class="btn-cta green fill-x">Pay &#8358; {{ data.course_data.price | floatformat:"2" }}</a>
                </div>
            </div>
        </div>
    </section>
</div>

    <style>
        .fill-x {
            {#width: 80%;#}
        }
        .card {
            background: #fff;
            padding: 20px;
            border: 1px solid #c3d3ec;
            border-radius: 10px;
        }
        .card ul li {
            font-size: 13px;
            color: #777777;
            line-height: 1.8;
        }
    #card-form {
        max-width: 400px;
    }
        .card-input-wrapper {
            width: 100%;
        }
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        form label {
            display: block;
            margin: 5px 0;
            color: #777777;
        }
        .enroll-wrapper {
            margin-top: 120px;
            margin-bottom: 50px;
            width: 100%;
        }
        .enroll-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 25px 0;
        }
        .enroll-content-left {
            width: 33%;
            maring-right: 12px;
            {#border-right: 1px solid #c3d3ec;#}
        }
        .payment-methods a {
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            color: #777777;
            display: block;
            font-size: 13px;
        }
        .payment-methods a:hover {
            background: #c3d3ec33;
        }
        .payment-methods a:active {
            color: #011F55;
            font-weight: bold;
        }
        .enroll-content-center {
            width: 33%;
            margin: 0 12px;
        }
        .enroll-content-right {
            width: 33%;
            margin-left: 12px;
        }
        .enroll-content-right span {
            display: block;
            font-size: 12px;
            color: #777777;
            padding: 5px 0;
        }
        .green {
          background: #10DC80;
          color: #fff;
          border: 1px solid #0fc471;
          font-weight: bold;
       }
    </style>

{% endblock %}




