{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Welcome {% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
    <div class="content">
        <span class="material-symbols-outlined nav-icon">list</span>
        <div class="courses-content">
            <nav class="filters">
                <div class="filter-items">
                    <h2>Filters</h2>
                    <h3>By Field</h3>
                    <div class="filter-item-group">
                        <a href="{% url 'explore' %}" class="explore-filter-item">All</a>
                        {% for field in data.fields %}
                            <a href="{% url 'explore' %}?q={{ field }}" class="explore-filter-item">{{ field }}</a>
                        {% endfor %}
                    </div>
                    <br>
                    
                    <h3>By Price</h3>
                    <div class="filter-item-group">
                        <span class="explore-filter-item">Free</span>
                        <span class="explore-filter-item">Under #200k</span>
                        <span class="explore-filter-item">#200k - #500k</span>
                        <span class="explore-filter-item">#500k - #1M</span>
                        <span class="explore-filter-item">#1M - Above</span>
                    </div>
                </div>
            </nav>
            <article class="course-list">
                <h2>
                    {% if data.q is None %} All Courses {% else %} {{ data.q }} {% endif %}
                </h2> <br>
                {% if data.courses|length > 0 %}
                    <p>
                        {% if data.courses|length > 1 %} 
                            {{data.courses|length}} courses 
                        {% else %} 
                            {{data.courses|length}} course
                        {% endif %}
                    </p>
                {% endif %}
                <br>
                <div class="course-grid">
                    {% for course in data.courses %}
                        {% include 'widgets/course_card.html' with course=course %}
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
    <script>
        document.querySelector('.nav-icon').addEventListener('click', ()=>{
            const classBoard = document.querySelector('.course-list')
            const filters = document.querySelector('.filters')
            
            if(filters.style.display === 'none'){
              classBoard.style.display = 'none'
              filters.style.display = 'block'
              filters.style.width = '100%'
            }else{
              filters.style.display = 'none'
              filters.style.width = '0'
              classBoard.style.display = 'block'
            }
            filters.style.transition = '.5s ease-in-out'
          })
    </script>
    <style>
        
    </style>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}
