{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Welcome {% endblock %}


{% block hero %}
    {% if not user.is_authenticated %}
        {% include 'widgets/hero2.html' %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
         
        <div class="user-content-wrapper">
            <div class="user-content">
                <nav class="dash-nav">
                    <a href="{% url 'home' %}" class="btn-nav">Home</a>
                    <a href="{% url 'dashboard' %}#enrolled" class="btn-nav">My Library</a>
                    <a href="{% url 'dashboard' %}#completed" class="btn-nav">Completed</a>
                    <a href="{% url 'explore' %}" class="btn-nav">Explore</a>
                </nav>

                <div class="user-courses">
                    <h1>My Library</h1>
                    {% include 'widgets/course_carousel.html' with carousel=data.user_courses_carousels %}
                </div>
            </div>
        </div>
    {% endif %}
    <section id="content">
        <div class="content">
            
            {% include 'widgets/course_carousel.html' with carousel=data.latest_carousel %}

        </div>
    </section>

            {% include 'widgets/biginfo.html' %}
            <br>
    <section class="content">
        <h2>Specializations</h2>
        {% if data.carousels is not None or empty %}
            {% for carousel in data.carousels %}
                {% include 'widgets/course_carousel.html' with carousel=carousel %}
            {% endfor %}
        {% endif %}

            <br>
        {% include 'widgets/testimonial_carousel.html' with testimonials=data.testimonials %}
        <br><br>
        {% include 'widgets/partners.html' %}
        <br>
    </section>

    {% if not user.is_authenticated %}
        <section class="bottom-cta">
            <strong>What do you want to learn?</strong>
            <p>Wherever your heart leads, tech, vocational, or professional path,
                or you just want to develop as a person, gain confidence, and position
                yourself to better contribute to societal growth and development, we are here for you.</p>
            <a href="{% url 'signup' %}" class="btn-cta-light green bold">Get Started Now</a>
        </section>
    {% endif %}

    <style>
        
    </style>
{% endblock %}

