{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Welcome {% endblock %}


{% block hero %}
    {% if not user.is_authenticated %}
        {% include 'widgets/hero2.html' %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
                <br><br><br>
        <div class="user-content-wrapper">
            <div class="user-content">
                <nav class="dash-nav">
                    <a href="{% url 'home' %}" class="btn-nav">Home</a>
                    <a href="{% url 'dashboard' %}#mylibrary" class="btn-nav">My Library</a>
                    <a href="{% url 'dashboard' %}#completed" class="btn-nav">Completed</a>
                    <a href="{% url 'explore' %}" class="btn-nav">Explore</a>
                </nav>

                <div class="user-courses">
                    <h1>My Library</h1>
                    {% include 'widgets/course_carousel.html' with carousel=data.user_courses_carousels %}
                </div>
            </div>
        </div>
    {% endif %}
    <section id="content">
        <div class="content">
            {% if data.carousels is not None or empty %}
                {% for carousel in data.carousels %}
                    {% include 'widgets/course_carousel.html' with carousel=carousel %}
                {% endfor %}
            {% endif %}

            <br>
    </section>

            {% include 'widgets/biginfo.html' %}
            <br>
    <section class="content">
{#            {% if data.carousels is not None or empty %}#}
{#                {% for carousel in data.carousels %}#}
{#                    {% include 'widgets/course_carousel.html' with carousel=carousel %}#}
{#                {% endfor %}#}
{#            {% endif %}#}

            <br>
            {% include 'widgets/testimonial_carousel.html' with testimonials=data.testimonials %}
            <br><br>
            {% include 'widgets/partners.html' %}
            <br><br>
        </div>
    </section>

    {% if not user.is_authenticated %}
        <section class="bottom-cta">
            <strong>What do you want to learn?</strong>
            <p>Wherever your heart leads, tech, vocational, or professional path,
                or you just want to develop as a person, gain confidence, and position
                yourself to better contribute to societal growth and development, we are here for you.</p>
            <a href="{% url 'signup' %}" class="btn-cta-light green bold">Get Started Now</a>
        </section>
    {% endif %}

    <style>
        .user-content-wrapper {
            background: #c3d3ec22;
        }
        .user-content {
            width: 70%;
            margin: auto;
        }
        .user-courses {
            width: 100%;
            {#padding: 25px;#}
            margin: 25px 0;
        }
        .dash-nav {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-top: 30px;
            width: 100%;
            border-bottom: 1px solid #c3d3ec;
        }
        .dash-nav a {
            text-decoration: none;
            color: #011F55;
            background: #c3d3ec44;
            padding: 10px 10px;
            font-size: 12px;
            font-weight: bold;
        }
        .dash-nav a:hover, .dash-nav a:active, .dash-nav a:visited {
            background: #c3d3ec;
        }

        #home-content {
            {#margin-top: 100px;#}
        }
        .bottom-cta {
            width: 100%;
            background: #011F55;
            padding: 70px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .bottom-cta p {
            color: #3b5998;
            width: 50%;
            margin: auto;
            font-size: 13px;
            padding: 20px 0;
            line-height: 25px;
        }
        .bottom-cta strong {
            color: #ffffff;
            font-size: 2.2em;
        }
        .bottom-cta a {
            padding: 12px 80px;
        }
        
        
    </style>
{% endblock %}

