{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Learn {% endblock %}
{% block header-message %}{% endblock %}


{% block hero %}
{% endblock %}
{% block top-nav %}{% endblock %}

{% block content %}
<div class="content">
    <span id="learn-nav-icon"  class="material-symbols-outlined nav-icon">list</span>
    <div class="courses-content">
        <nav class="filters">
            <div class="filter-items">
                <div class="org-image">
                    {% if data.course_data.organization.logo is not None %}
                        <img src="{{ data.course_data.organization.logo.url }}" alt="">
                    {% else %}
                        <img src="" alt="">
                    {% endif %}
                </div>

                {% comment %} <p>{{ data.course_data.organization.name | title }}</p> {% endcomment %}
                
                <br>
                <h3>{{ data.course_data.title }}</h3>
                <br>

                <div class="filter-item-group" role="group">
                    <a class="filter-item {% if data.page == 'info' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/info">Course Info</a>
                    <a class="filter-item {% if data.page == 'classes' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/classes">Classes</a>
                    <a class="filter-item {% if data.page == 'notes' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/notes">Notes</a>
                    <a class="filter-item {% if data.page == 'grades' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/grades">Grades</a>
                    <a class="filter-item {% if data.page == 'communities' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/communities">Communities</a>
                    <a class="filter-item {% if data.page == 'reviews' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/reviews">Reviews</a>
                    <a class="filter-item {% if data.page == 'announcements' %}selected{% endif %}"
                       href="{% url 'learn' data.course_data.id %}/announcements">Announcements</a>
                </div>
            </div>
        </nav>
        <article class="class-board">
            {% if data.page == 'info' or data.page == 'None' %}
                <h2>Overview</h2><br>
                <b>Field: <span>{{ data.course_data.field }}</span> .
                Instruction Language: <span>{{ data.course_data.language }}</span> .
                Course Duration: <span>{{ data.course_data.duration }} days</span></b>
                <br/><br/>

                <h3>Welcome Note</h3>
                {% if data.course_data.welcome_note is not None or data.course_data.welcome_note is not empty %}
                    <p>{{ data.course_data.welcome_note }}</p>
                {% else %}
                    <p>{{ data.course_data.description }}</p>
                {% endif %}
                <br/>
                {% if data.course_data.intro_video is not None or data.course_data.intro_video is not empty %}
                    <a target="_blank" class="resource-link" href="{{ data.course_data.intro_video }}">Watch Intro Video</a>
                    {#<video controls style="width:100%;">#}
                    {#  <source src="{{ data.course_data.intro_video }}" type="video/mp4" preload="auto" poster="" />#}
                    {#</video>#}
                {% endif %}
                <br/><br/>
                {% if data.course_data.welcome_note is not None or data.course_data.welcome_note is not empty %}
                    <p>{{ data.course_data.description }}</p><br/>
                {% endif %}

                <h3>Description</h3>
                <p>{{ data.course_data.description }}</p>
                <br/>

                <h3 class="course-skills">Skills you'll gain</h3><br>
                <div class="skills-content">
                    {% for skill in data.course_data.skills %}
                        <span class="skill">{{ skill | title }}</span>
                    {% endfor %}
                </div>
                <br/>

                <div class="course-objectives">
                    <h3>Why {{ data.course_data.title }}</h3>
                    <ul>
                        {% for objective in data.course_data.objectives %}
                            <li>{{ objective | title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% elif data.page == 'classes' %}
                <h2>Classes in this course</h2><br>
                {% if data.user_owns_course %}
                    {% for class in data.classes %}
                        <div class="class-item">
                            <div class="title">
                                <h3>{{ class.title }}</h3>
                                <span class="material-symbols-outlined expand">expand_more</span>
                            </div>
                            <div style="display:none;" class="class-details">
                                <hr>
                                <h3>Overview</h3>
                                <p>{{ class.description }}</p>
                                <br/>

                                <h3>Class Links</h3>
                                <div class="class-links">
                                    <a target="_blank" class="resource-link" href="{{ class.class_link1 }}">Class Link 1</a>
                                    {% if class.class_link2 is not None %}
                                        <a target="_blank" class="resource-link" href="{{ class.class_link2 }}">Class Link 1</a>
                                    {% endif %}
                                </div>

                                <h3>Class Resources</h3>
                                <div class="class-links">
                                    <a target="_blank" class="resource-link resource" href="{{ class.resources.link }}">Class Resources</a>
                                    {% for image in class.resources.images.all %}
                                        <a target="_blank" class="resource-link resource" href="{{ image.link }}">Class Images</a>
                                    {% endfor %}

                                    {% for video in class.resources.videos.all %}
                                        <a target="_blank" class="resource-link resource" href="{{ video.link }}">Class Videos</a>
                                    {% endfor %}

                                    {% for reading in class.resources.readings.all %}
                                        <a target="_blank" class="resource-link resource" href="{{ reading.link }}">Class Readings</a>
                                    {% endfor %}

                                    {% for assessment in class.resources.assessments.all %}
                                        <a target="_blank" class="resource-link resource" href="{{ assessment.link }}">Class Assessements</a>
                                    {% endfor %}

                                </div>

                                <br/>
                                {% if class.objectives is not None %}
                                <h3>Class Objectives</h3>
                                    <ul>
                                        {% for obj in class.objectives %}
                                            <li>{{ obj }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <br>
                    <p>Dear {{ user.get_full_name }},</p><br>
                    <p>Thank you for enrolling to this course. However, because you have not yet paid for this course your access is limited. Kindly click on the button below to pay for this course now to enjoy your classes. Upon payment completion, your classes will appear here.</p> <br>
                    <p>Thank you!</p><br>
                    <h3>Buy this course now</h3>
                    {# Making payment with flutterwave #}
                    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                        <input type="hidden" name="public_key" value="FLWPUBK_TEST-5855984309c2f0b177abb690e6cda4be-X" />
                        <input type="hidden" name="customer[email]" value="{{ user.email }}" />
                        <input type="hidden" name="customer[name]" value="{{ user.get_full_name }}" />
                        <input type="hidden" name="tx_ref" value="txref-81123" />
                        <input type="hidden" name="amount" value="{{ data.course_data.price }}" />
                        <input type="hidden" name="currency" value="NGN" />
                        <input type="hidden" name="meta[source]" value="docs-html-test" />
                        <input type="hidden" name="redirect_url" value="{% url 'home' %}" />
                        
                        <button type="submit"
                         class="btn-cta green bold" id="start-payment-button">Pay &#8358; {{ data.course_data.price |stringformat:"f"|floatformat:2}} </button>  
                  </form>
                {% endif %}
            {% elif data.page == 'notes' %}

                <h2>My notes on <span style="color:#10DC80;">{{ data.course_data.title }}</span></h2><br>
                <div class="notes">
                    {% for note in data.notes %}
                        <div class="note">
                            <b>{{ note.the_class.title }}</b>
                            <p>{{ note.note }}</p>
                            <i>{{ note.date }}</i>
                        </div> 
                    {% endfor %}
                </div>
            {% elif data.page == 'grades' %}
                <h2>Grades</h2>
            {% elif data.page == 'communities' %}
                {% if data.user_owns_course %}
                    <h2>Course Communities</h2><br>
                    <h3>Hi there</h3>
                    <p>{{ data.course_data.welcome_note }}</p><br>
                    <b>Join the course community</b><br>
                    <i style="font-size:12px; color: #999;">Community can be on 
                        WhatsApp Group, WhatsApp Community Teams, Twitter Space, Slack, etc.</i><br><br>
                    <div class="class-links">
                        <a target="_blank" class="resource-link" href="{{ data.course_data.community_link1 }}">Community Link 1</a>
                        {% if data.course_data.community_link2 is not None %}
                            <a target="_blank" class="resource-link" href="{{ class.class_link2 }}">Community Link 2</a>
                        {% endif %}
                    </div>
                {% else %}
                    <br>
                    <p>Dear {{ user.get_full_name }},</p><br>
                    <p>Thank you for enrolling to this course. However, because you have not yet paid for this course your access is limited. Kindly click on the button below to pay for this course now to access the course community. Upon payment completion, the community link will appear here.</p> <br>
                    <p>Thank you!</p><br>
                    <h3>Buy this course now</h3>
                    {# Making payment with flutterwave #}
                    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                        <input type="hidden" name="public_key" value="FLWPUBK_TEST-5855984309c2f0b177abb690e6cda4be-X" />
                        <input type="hidden" name="customer[email]" value="{{ user.email }}" />
                        <input type="hidden" name="customer[name]" value="{{ user.get_full_name }}" />
                        <input type="hidden" name="tx_ref" value="txref-81123" />
                        <input type="hidden" name="amount" value="{{ data.course_data.price }}" />
                        <input type="hidden" name="currency" value="NGN" />
                        <input type="hidden" name="meta[source]" value="docs-html-test" />
                        <input type="hidden" name="redirect_url" value="{% url 'home' %}" />
                        
                        <button type="submit"
                         class="btn-cta green bold" id="start-payment-button">Pay &#8358; {{ data.course_data.price |stringformat:"f"|floatformat:2}} </button>  
                {% endif %}
            {% elif data.page == 'reviews' %}
                <h2>Course Reviews</h2>
                {% if data.user_owns_course %}
                    {# Review form goes here... #}
                {% else %}
                    <br>
                    <p>Dear {{ user.get_full_name }},</p><br>
                    <p>Thank you for enrolling to this course. However, because you have not yet paid for this course your access is limited. Kindly click on the button below to pay for this course now to review this course. Upon payment completion, the review form will appear here.</p> <br>
                    <p>Thank you!</p><br>
                    <h3>Buy this course now</h3>
                    {# Making payment with flutterwave #}
                    <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
                        <input type="hidden" name="public_key" value="FLWPUBK_TEST-5855984309c2f0b177abb690e6cda4be-X" />
                        <input type="hidden" name="customer[email]" value="{{ user.email }}" />
                        <input type="hidden" name="customer[name]" value="{{ user.get_full_name }}" />
                        <input type="hidden" name="tx_ref" value="txref-81123" />
                        <input type="hidden" name="amount" value="{{ data.course_data.price }}" />
                        <input type="hidden" name="currency" value="NGN" />
                        <input type="hidden" name="meta[source]" value="docs-html-test" />
                        <input type="hidden" name="redirect_url" value="{% url 'home' %}" />
                        
                        <button type="submit"
                         class="btn-cta green bold" id="start-payment-button">Pay &#8358; {{ data.course_data.price |stringformat:"f"|floatformat:2}} </button>  
                {% endif %}
            {% elif data.page == 'announcements' %}
                <h2>Course Announcements</h2><br>
                {% for announcement in data.announcements %}
                    <div class="notes">
                        <div class="note">
                            <b>{{ announcement.the_class.title }}</b>
                            <p>{{ announcement.message }}</p>
                            <i>{{ announcement.date }}</i>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </article>
    </div>
    <script>
        document.querySelectorAll('.class-item').forEach((item)=>{
            item.addEventListener('click', ()=> {
               // Find the next sibling element (assuming it's the description)
                const description = item.children[1];

                // Toggle the display property of the description
                if (description.style.display === 'none' || description.style.display === '') {
                    description.style.display = 'block'
                    description.style.transition = '.5s ease-in-out'
                } else {
                    description.style.display = 'none';
                    description.style.transition = '.5s ease-in-out'
                }
            })
        })

        document.querySelector('#learn-nav-icon').addEventListener('click', ()=>{
          const classBoard = document.querySelector('.class-board')
          const filters = document.querySelector('.filters')
          
          if(filters.style.display === 'none'){
            classBoard.style.display = 'none'
            filters.style.display = 'block'
            filters.style.width = '100%'
          }else{
            filters.style.display = 'none'
            filters.style.width = '0'
            classBoard.style.display = 'block'
          }
          filters.style.transition = '.5s ease-in-out'
        })
    </script>
</div>

<style>
    .content{
        padding: 50px 0;
    }
    .nav-icon{
        display: none;
    }
    .org-image {
        height: 35px;
        margin-bottom: 10px;
    }
    .org-image img {
        height: 25px;
    }
    .notes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
    .notes .note {
        background: #fff;
        border-radius: 5px;
        padding: 10px;
    }
    .note i {
        font-size: 12px;
        color: #aaa;
    }
    .class-details {
        cursor: default;
    }
    .class-details .class-links {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;
    }
    .class-links .resource {
        background: #c3d3ec55;
        color: #011F55;
        font-size: 13px;
    }
    .resource:hover {
        color: #ffffff;
    }
    .class-item {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #c3d3ec;
        margin: 10px 0;
        cursor: pointer;
    }
    .class-item .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .resource-link {
        text-decoration: none;
        color: #ffffff;
        background: #10DC80;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 13px;
    }
    .resource-link:hover{
        background: #011F55;
    }
    li {
        font-size: 13px;
        color: #777777;
        line-height: 22px;
    }
    .skills-content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-align: left;
        flex-wrap: wrap;
    }

    .skill {
        padding: 5px 10px;
        font-size: 12px;
        color: #0e3b8d;
        background: #eff3fa;
        border-radius: 5px;
    }
    b{
        font-size: 13px;
        color: #011F55;
    }
    b span{
        color: #10DC80;
    }
        .courses-content {
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 10px 0;
        }
        .filters {
            width: 25%;
            height: 500px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            scrollbar-base-color: #011F55;
            padding: 10px 10px 0 0;
            position: relative;
        }
        .class-board {
            width: 60%;
            padding: 10px 0 0 10px;
        }
        .course-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }
        .filter-item-group {
            display: flex;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;

        }
        .filter-item {
            width: 100%;
            font-size: 13px;
            color: #011F55;
            padding: 10px 10px;
            border-radius: 2px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
        }
        .filter-item:hover, .filter-item:active {
            background: #c3d3ec55;
        }
        .selected {
            background: #c3d3ec55;
        }
</style>
{% endblock %}

{% block footer %} {% endblock %}

