{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Learn {% endblock %}

{% block hero %}
{% endblock %}
{% block top-nav %}{% endblock %}

{% block content %}
    <div class="content">
        <nav class="filters">
            <br><br><br><br><br>
            <div class="filter-items">
                <div class="org-image">
                    {% if data.course_data.organization.logo is not None %}
                        <img src="{{ data.course_data.organization.logo }}" alt="">
                    {% else %}
                        <img src="" alt="">
                    {% endif %}
                </div>

                <p>{{ data.course_data.organization.name }}</p>

                <h3>{{ data.course_data.title }}</h3>

                <div class="filter-item-group">
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Course Info</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Classes</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Notes</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Grades</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Communities</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Reviews</a>
                    <a class="filter-item" href="{% url 'learn' data.course_data.id %}#">Announcements</a>
                </div>
            </div>
        </nav>
        <article class="class-board">

        </article>
    </div>
    <style>
        .courses-content {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 150px 0;
        }
        .filters {
            width: 20%;
            height: 500px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            scrollbar-base-color: #011F55;
            padding: 10px 20px 0 0;
            {#border-right: 1px solid #c3d3ec;#}
            position: relative;
        }
        .course-list {
            width: 80%;
            padding: 10px 0 0 40px;
            {#position: relative;#}
            {#left: 200px;#}
        }
        .course-grid {
            display: flex;
            flex-direction: row;
            {#justify-content: space-evenly;#}
            flex-wrap: wrap;
            gap: 20px;
        }
        .filter-item-group {
            display: flex;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;

        }
        .filter-item {
            width: 100%;
            font-size: 13px;
            color: #011F55;
            {#background: #c3d3ec33;#}
            padding: 10px 10px;
            border-radius: 2px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
        }
        .filter-item:hover {
            background: #c3d3ec55;
            {#border-bottom: 1px solid #c3d3ec;#}
        }
    </style>
{% endblock %}

{% block footer %} {% endblock %}