{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Login {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div id="content">
  <div class="content">
    <div id="login-form" class="auth-container">
      <form>
          <h1>Sign in to your account.</h1><br/>
          <p>Build skills for today, tomorrow, and beyond. Education to future-proof your career.</p><br/>
        
        <label for="emailOrUsername">Email or Username</label>
        <input type="text" id="emailOrUsername" name="emailOrUsername" placeholder="Enter your email or username"
        /> <br>
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password"
        /> <br>
  
        <!-- Submit button -->
        <button type="submit" onclick="submitForm()">Login</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}


  {% comment %} <script>

    function submitForm() {
      // Add logic to handle form submission using JavaScript
      // Example: document.getElementById("loginForm").submit();
    }

    function loginWithGoogle() {
      // Add logic to handle Google login using JavaScript
    }

    function loginWithFacebook() {
      // Add logic to handle Facebook login using JavaScript
    }
  </script> {% endcomment %}



