{% extends 'partials/base.html' %}
{% load static %}
{% block page-title %} Sign Up {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div id="content">
  <div class="content">
    <div id="signup-form" class="auth-container">
      <form>
        <h1>Create your student account.</h1> <br/>
        <p>Build skills for today, tomorrow, and beyond. Education to future-proof your career.</p>
        <br/>

        <div class="form-column">

          <div class="form-row">
            <div>
              <label for="firstname">First Name</label>
              <input type="text" id="firstname" name="firstname" placeholder="First name"/>
            </div>
            <div class="form-row-column">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" placeholder="Enter your last name"/>
            </div>
          </div>
  
          <div class="form-row">
            <div>
              <label for="email">Email</label>
              <input type="text" id="email" name="email" placeholder="Enter your email"/>
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password"/>
            </div>
          </div>
          
        </div>
        
        <br>
    
        <!-- Submit button -->
        <button type="submit" onclick="submitForm()">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

  {% comment %} <script>

    function submitForm() {
      // Add logic to handle form submission using JavaScript
      // Example: document.getElementById("loginForm").submit();
    }

    function loginWithGoogle() {
      // Add logic to handle Google login using JavaScript
    }

    function loginWithFacebook() {
      // Add logic to handle Facebook login using JavaScript
    }
  </script> {% endcomment %}



