{% extends 'partials/base.html' %}
{% load static %}
{% block page-title%} {{data.page}} {% endblock %}
{% block header-message %}{% endblock %}
{% block hero %}{% endblock %}

{% block content %}
<div class="content">
    <div class="static-content">
        <div class="static-content-left">
            {% if data.page is not None %}
                {% for static_page in data.static_pages %}
                    {% if static_page.url_name == data.page %}
                        <h1>{{ static_page.title }}</h1>
                        {% for paragraph in static_page.content %}
                            <div class="paragraph">
                                {% if paragraph|wordcount < 15 %}
                                    <h3>{{paragraph}}</h3>
                                {% else %}
                                    <p>{{paragraph}}</p>
                                {% endif %}
                            </div>
                        {% endfor%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% comment %} {{data.static_page.content}} {% endcomment %}
</div>
<style>
    
</style>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

